nav {
    background-color: cadetblue;
    width: 100%;
}
.navbar-brand {
    font-size: 300%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
   
}

.navbar-text {
    font-size: 220%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 20%;

}

.message{
    margin-left: 42%;
}